__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

venv/
.venv/
env/

.env
.env.*

*.db
*.sqlite
*.sqlite3

chroma_db/

*.log


.vscode/
.idea/

.DS_Store
Thumbs.db

.pytest_cache/
.coverage
htmlcov/

build/
dist/
*.egg-info/

.ipynb_checkpoints/